version: '3'

services:
  app:
    build: .
    container_name: flask_application
    ports:
      - 8000
    volumes:
      - ./wsgi.py:/code/wsgi.py
      - ./templates:/code/templates/

  nginx:
    build: ./docker/nginx
    container_name: nginx_server
    ports:
      - 5000:80
    # volumes:
    #   - nginx_error_logs:/var/log/nginx/error.log:ro
    #   - nginx_access_log:/var/log/nginx/access.log:ro

# volumes:
#   nginx_error_logs: {}
#   nginx_access_log: {}
