version: '3'

services:
  app:
    build: .
    container_name: flask_application
    ports:
      - 8000
    volumes:
      - ./wsgi.py:/code/wsgi.py
      - ./templates:/code/templates/

  nginx:
    build: ./docker/nginx
    container_name: nginx_server
    ports:
      - 5000:80
    depends_on:
      - app
    links:
      - app
    # volumes:
    #   - "nginx_error_logs:/var/log/nginx/error.log:ro"
    #   - "nginx_access_log:/var/log/nginx/access.log:ro"

  fail2ban:
    build: ./docker/failtoban
    container_name: fail2ban
    # network_mode: "host"
    # cap_add:
    #   - NET_ADMIN
    #   - NET_RAW
    # volumes:
    #   - "./data:/data"
    #   - "/var/log:/var/log:ro"
    #   - "./jails/jail.local:jail.local:rw"
    restart: always
    depends_on:
      - nginx
    links:
      - nginx
      - app

  certbot:
    build: ./docker/letsencrypt

# volumes:
#   nginx_error_logs: {}
#   nginx_access_log: {}
